/* External Style */
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #e6e6fa;
    color: #191970;
}
h1 {
    font-family: Georgia, 'Times New Roman', serif;
    line-height: 200%;
    text-shadow: 3px 3px 5px #cccccc;
    background-color: #191970;
    color: #e6e6fa;
}
h2 {
    background-color: #aeaed4;
    color: #191970;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
}
p {
    font-size: .90em;
    text-indent: 3em;
}
ul {
    font-weight: bold;
}
nav {
    font-weight: bold;
    font-size: 1.25em;
}
footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
}